.block {
  margin: 0px 0px 10vh 0px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textSide {
  flex: 1 1 60%;
  padding: 0px 2vw 0px 0px;

  @media (max-width: 767px) {
    padding: 0px 0px 0px 0px;
  }
}

.title {
  color: #9B9B9B;
  margin: 0px 0px 18px 0px;
  font-family: 'Benzin';
  font-size: calc(24px + 38 * (100vw / 1440));
  line-height: 114%;

  @media (max-width: 767px) {
    font-size: calc(24px + 38 * ((100vw - 320px) / 1440));
  }
}

.text {
  color: #9B9B9B;
  margin: 0px 0px 32px 0px;
  font-family: 'Montserrat';
  font-size: calc(14px + 10 * (100vw / 1440));
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1440));
  }
}

.imgSide {
  flex: 1 0 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  img {
    max-width: 100%;
  }

  @media (max-width: 1075px) {
    align-items: center;
    justify-content: center;
  }
}